<div id="mySidenav" class="sidenav">
    <a id="closeBtn" href="#" class="close">&times;</a>
    <ul>
        <li><a href="/index">ACCUEIL</a></li>
        <li><a href="/lacarte">LA CARTE</a></li>
        <li><a href="#">LOCALISATION - CONTACT</a></li>
        <li><a href="/reservation">RESERVER UNE TABLE</a></li>
    </ul>
</div>
<a href="#" id="openBtn">
    <span class="burger-icon">
        <span></span>
        <span></span>
        <span></span>
    </span>
</a>