@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
/* découpage droit et gauche */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
}
.left {
    left: 0;
    background-image: url(public/images/fond_lacarte_filter.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.right {
    right: 0;
    height: 100%;
    background-color: rgb(0, 0, 0);
}
.centered {
    position: absolute;
    top: 850px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
/* menu burger */
.sidenav {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 9;
    top: 0;
    left: -100%;
    background-color: #FACE8D;
    padding-top: 60px;
    transition: left 0.8s ease;
}
.sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: auto;
    width: 50%;
}
.sidenav li {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    padding: 0 auto;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
.sidenav a {
    padding: 0 auto;
    text-decoration: none;
    font-size: 30px;
    color: #000000;
    display: block;
    width: 400px;
    font-family: 'Abhaya Libre', serif;
}
.sidenav>ul>li a:hover {
    box-shadow:inset 400px 0 0 0 #000000;
    transition: 1s;
    color: #FACE8D;
}
.sidenav.active {
    left: 0;
}
.sidenav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 50px;
    display: flex;
    justify-content: end;
}
.sidenav .close:hover {
    color: #000000;
    cursor: pointer;
}
.burger-icon {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1.5rem;
    z-index: 2;
    cursor: pointer;
}
.burger-icon span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: #FACE8D;
    margin: 6px 0;
}
/* côté gauche */
.title {
    color: white;
    font-family: 'Karla', sans-serif;
    font-size: 3rem;
    text-align: center;
}
.description {
    color: #FACE8D;
    text-align: center;
    font-size: 4rem;
    font-family: 'Abhaya Libre', serif;
    line-height: 1em;
    margin-top: 32%;
}
a {
    text-decoration: none !important;
    font-size: 1.2rem;
    font-family: 'Abhaya Libre', serif;
}
ul {
    list-style-type: none;
}
nav{
    margin-left: 9%;
    height: 60px;
    margin-top: 35%;
}
nav>ul{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 18px;
    border-radius: 35px;
    font-weight: 600;
    transition: 0.5s;
}
nav>ul>li{
    transition: 1s;
    margin: 0 5px;
}
nav>ul>li>a{
    width: 100%;
    height: 100%;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    border-radius: 25px;
    font-weight: 600;
}
nav>ul>li>a:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    transition: 0.7s;
}
/* côté droit */
div.nav_carte {
    padding: 0;
    background-color: rgb(0, 0, 0);
    position: fixed;
    z-index: 2;
}
.nav_carte>ul {
    display: flex;
    justify-content: space-around;
    width: 50%;
}
.nav_carte>ul>li>a {
    width: 100%;
    height: 100%;
    color: #FACE8D;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}
.nav_carte>ul>li>a:hover {
    border-bottom: #FACE8D 2px solid;
}
section {
    margin-left: 20px;
    margin-bottom: 20px;
    width: 500px;
}
section>h1 {
    color: #FACE8D;
    font-family: 'Abhaya Libre', serif;
    font-size: 3rem;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    border-bottom: 1px solid #FACE8D;
    height: 60px;
    width: 250px;
}
div.container {
    margin-top: 20px;
}
div.container>div.row>div.col-2>img {
    border-radius: 30px;
    box-shadow: #FACE8D 0px 0px 10px 0px;
}
div.col-8, div.col-2 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    color: white;
    font-family: 'Abhaya Libre', serif;
}
div.col-2 {
    padding: 0;
}
h5 {
    display: flex;
}
p {
    display: flex;
    margin-bottom: 0px !important;
    filter: opacity(0.7);
}
/* Media Queries */
@media (min-width: 1001px) {
    .burger-icon {
        display: none;
    }
}
@media (max-width: 1000px) {
    div.left {
        display: none;
    }
    div.right {
        width: 100%;
        left: 0;
    }
    .burger-icon {
        display: block;
    }
    #a_partager {
        margin-top: 250px;
    }
    div.nav_carte {
        display: none;
    }
    section{
        width: 90%;
    }
    .text_reservation p {
        width: 350px;
    }
    div.elem-group{
        width: 80%;
        margin: 15px auto;
    }
}
@media (max-width: 400px) {
    div.elem-group{
        width: 60%;
        margin: 15px auto;
    }
}