<%- include ('../partials/head_index') %>
<div class="homepage">
    <!--Image Background-->
    <div class="imgbg">
        <img src="./images/fond_accueil(filter).jpg">
    </div>
    <!--burger menu-->
    <%- include ('../partials/header') %>
    <!--Titre/Description/Horaire/Menu-->
    <a href="/index"><h1 class="title">Les beaux arts.</h1></a>
    <h1 class="description">La cuisine contemporaine <br>et<br> gastronomique.</h1>
    <div class="horaire">
        <h2>Horaires</h2>
        <p>Lundi &emsp;&emsp;&emsp;&emsp;&emsp;fermé</p>
        <p>Mar - Ven &ensp;&ensp;&nbsp;18:30-23:00</p>
        <p>Sam - Dim &nbsp;&nbsp;&nbsp;&nbsp;18:00-00:00</p>
    </div>
</div>
<%- include ('../partials/footer') %>