<%- include ('../partials/head_lacarte') %>

<!--Côté gauche-->
<div class="split left" style="background-image: url(images/fond_lacarte_filter.jpg);">
    <a href="/index"><h1 class="title">Les beaux arts.</h1></a>
    <h1 class="description">La carte</h1>
    <div class="navbar">
        <nav>
            <ul>
                <li><a href="/lacarte">LA CARTE</a></li>
                <li><a href="#">LA CAVE</a></li>
                <li><a href="#">LOCALISATION</a></li>
                <li><a href="/reservation">RESERVER UNE TABLE</a></li>
            </ul>
        </nav>
    </div>
</div>
<!--Côté droit-->
<div class="split right">
    <!--Burger Menu-->
    <%- include ('../partials/header') %>
    <!--Carte-->
        <div class="container-fluid">
            <div class="row">
                <div class="nav_carte">
                    <ul>
                        <li><a href="#a_partager">A partager</a></li>
                        <li><a href="#entrees">Entrées</a></li>
                        <li><a href="#plats">Plats</a></li>
                        <li><a href="#desserts">Desserts</a></li>
                    </ul>
                </div>
            </div>
        </div>
    <div class="centered">
        <!--A partager-->
        <section id="a_partager">
            <h1>A partager</h1>
            <div class="container">
                <div class="row">
                    <div class="col-2">
                        <img src="./images_carte/burrata.jpg" alt="">
                    </div>
                    <div class="col-8">
                        <h5 style="color: white;">Burrata</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                    </div>
                    <div class="col-2">
                        <h5>€12.00</h5>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-2">
                        <img src="./images_carte/tapas.jpg" alt="">
                    </div>
                    <div class="col-8">
                        <h5 style="color: white;">Tapas (6)</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                    </div>
                    <div class="col-2">
                        <h5>€5.00</h5>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-2">
                        <img src="./images_carte/souffle_a_partager" alt="">
                    </div>
                    <div class="col-8">
                        <h5 style="color: white;">Soufflé à partager</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                    </div>
                    <div class="col-2">
                        <h5>€12.00</h5>
                    </div>
                </div>
            </div>
        </section>
        <!--Entrées-->
        <section id="entrees">
            <h1>Entrées</h1>
            <div class="container">
                <div class="row">
                    <div class="col-2">
                        <img src="./images_carte/salade_pesto.jpg" alt="">
                    </div>
                    <div class="col-8">
                        <h5 style="color: white;">Salade Pesto</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                    </div>
                    <div class="col-2">
                        <h5>€15.00</h5>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-2">
                        <img src="./images_carte/julienne_de_legume.jpg" alt="">
                    </div>
                    <div class="col-8">
                        <h5 style="color: white;">Julienne de légumes</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                    </div>
                    <div class="col-2">
                        <h5>€9.00</h5>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-2">
                        <img src="./images_carte/avocado_egg.jpg" alt="">
                    </div>
                    <div class="col-8">
                        <h5 style="color: white;">Avocado Egg</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                    </div>
                    <div class="col-2">
                        <h5>€10.00</h5>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-2">
                        <img src="./images_carte/soupe_de_potiron_revisitee.jpg" alt="">
                    </div>
                    <div class="col-8">
                        <h5 style="color: white;">Soupe de potiron revisitée</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                    </div>
                    <div class="col-2">
                        <h5>€8.00</h5>
                    </div>
                </div>
            </div>
        </section>
        <!--Plats-->
        <section id="plats">
            <h1>Plats</h1>
            <div class="container">
                <div class="row">
                    <div class="col-2">
                        <img src="./images_carte/pizza_italienne.jpg" alt="">
                    </div>
                    <div class="col-8">
                        <h5 style="color: white;">Pizza italienne</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                    </div>
                    <div class="col-2">
                        <h5>€17.00</h5>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-2">
                        <img src="./images_carte/fruits_de_mer_curry.jpg" alt="">
                    </div>
                    <div class="col-8">
                        <h5 style="color: white;">Fruits de mer au curry</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                    </div>
                    <div class="col-2">
                        <h5>€23.00</h5>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-2">
                        <img src="./images_carte/burger_classic.jpg" alt="">
                    </div>
                    <div class="col-8">
                        <h5 style="color: white;">Burger classic</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                    </div>
                    <div class="col-2">
                        <h5>€19.00</h5>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-2">
                        <img src="./images_carte/plat_de_noodle.jpg" alt="">
                    </div>
                    <div class="col-8">
                        <h5 style="color: white;">Plat de noodle</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                    </div>
                    <div class="col-2">
                        <h5>€13.00</h5>
                    </div>
                </div>
            </div>
        </section>
        <!--Desserts-->
        <section id="desserts">
            <h1>Desserts</h1>
            <div class="container">
                <div class="row">
                    <div class="col-2">
                        <img src="./images_carte/cheesecake.jpg" alt="">
                    </div>
                    <div class="col-8">
                        <h5 style="color: white;">Cheesecake</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                    </div>
                    <div class="col-2">
                        <h5>€8.00</h5>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-2">
                        <img src="./images_carte/moelleux_au_chocolat.jpg" alt="">
                    </div>
                    <div class="col-8">
                        <h5 style="color: white;">Moelleux au chocolat</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                    </div>
                    <div class="col-2">
                        <h5>€7.00</h5>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-2">
                        <img src="./images_carte/part_de_multi_fruit.jpg" alt="">
                    </div>
                    <div class="col-8">
                        <h5 style="color: white;">Une part de multi-fruit</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                    </div>
                    <div class="col-2">
                        <h5>€9.00</h5>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<%- include ('../partials/footer') %>